<!-- Header -->
<h2>Get Coupon by date</h2>
<hr>
<div class="getCouponInput">
  <label for="startDate">Coupon end date:</label>
  <input type="date" name="endDate" [(ngModel)]="endDate">
  <button class="btn btn-success" (click)="getCouponsByDate(endDate)">Get Coupon</button>
</div>
<table class="table table-hover">
  <th>Id</th>
  <th>Title</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Amount</th>
  <th>Type</th>
  <th>Message</th>
  <th>Price</th>
  <th>Image</th>
  <th>Delete Coupon</th>

  <tr *ngFor="let c of coupons">
    <td>{{c.id}}</td>
    <td>{{c.title}}</td>
    <td>{{c.startDate | date:'dd/MM/yyyy'}}</td>
    <td>{{c.endDate | date:'dd/MM/yyyy'}}</td>
    <td>{{c.amount}}</td>
    <td>{{c.type}}</td>
    <td>{{c.message}}</td>
    <td>{{c.price}}</td>
    <td>
      <img src={{c.image}}>
    </td>
    <a id="delete">
        <td class="btn btn-danger glyphicon glyphicon-trash" (click)="removeCoupon(c.id, i);">
        </a>
  </tr>
</table>
