<div class="container-fluid">
  <h2>Get All Coupons</h2>
  <hr>
  <div id="filters">
    <i class="glyphicon glyphicon-search"></i>
      <button (click)="toggleFilterTitle()"  value="filterTitle" for="title" >Title</button> 
     <button  (click)="toggleFilterType()" value="filterType" for="type">Type</button> 
     <button  (click)="toggleFilterPrice()" value="filterPrice" for="price">Price</button> 
    <div >
      <input type="text" class="filterTitle" [(ngModel)]="title" placeholder="Enter coupon-title" hidden />
      <input type="text" class="filterType" [(ngModel)]="type" placeholder="Enter coupon-type" hidden />
      <input type="text" class="filterPrice" [(ngModel)]="price" placeholder="Enter coupon-price" hidden />
    </div>
    </div>
 
      <table class="table table-hover ">
        <th>Id</th>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Type</th> 
        <th>Message</th>
        <th>Price</th>
        <th class="ImgTh">Image</th>
        <th>Delete</th>
        <th>Update</th>
        <!--  filterTitle:term | -->
        <tr *ngFor="let c of coupons | filterType:type | filterTitle:title | filterPrice:price; let i = index">
          <td>{{c.id}}</td>
          <td>{{c.title}}</td>
          <td>{{c.startDate  | date:'dd/MM/yyyy'}}</td>
          <td>{{c.endDate  |  date:'dd/MM/yyyy'}}</td>
          <td>{{c.amount}}</td>
          <td>{{c.type}}</td>
          <td class="msg">{{c.message}}</td>
          <td>{{c.price}}</td>
          <td class="ImgTd"><img class="img-fluid" src={{c.image}} alt="{{c.title | lowercase}}"></td>
          <td><a id="delete" class="btn btn-danger glyphicon glyphicon-trash" (click)="removeCoupon(c.id, i);"></a></td>
          <td><a data-toggle="tooltip" title="Update Coupon" class="btn btn-info glyphicon glyphicon-edit" (click)="editCoupon(c.id, i);" routerLink='/UpdateCoupon'></a></td>
        </tr>
      </table>
    </div>
    